<!--
<section class="block container">
  <h3>Alerts</h3>
  <p>Alerts are UI elements that give important info.</p>
  <div class="alert alert--error" id="alert-1">
    <a href="#" class="btn__close" onclick="document.getElementById('alert-1').style.display = 'none'; return false;">&times;</a>
    <p>ERROR: Uh oh - something went wrong</p>
  </div>
  <div class="alert alert--warning" id="alert-2">
    <a href="#" class="btn__close" onclick="document.getElementById('alert-2').style.display = 'none'; return false;">&times;</a>
    <p>WARNING: Shake it fast, but watch yourself.</p>
  </div>
  <div class="alert alert--success" id="alert-3">
    <a href="#" class="btn__close" onclick="document.getElementById('alert-3').style.display = 'none'; return false;">&times;</a>
    <p>SUCCESS: The secret to my success is that I learn, 25 hours a day!</p>
  </div>
  <div class="alert alert--info" id="alert-4">
    <a href="#" class="btn__close" onclick="document.getElementById('alert-4').style.display = 'none'; return false;">&times;</a>
    <p>INFO: All the planets can fit in the space between the earth and moon.</p>
  </div>
</section> -->
