<section class="block container--fluid">
  <h2>Alertas</h2>
  <article>
    <p>Las alertas son elementos de la UI que aportan información importante al usuario:</p>
  </article>
  <div class="alert block alert--error" id="alert-1">
    <a href="#" class="btn__close" onclick="document.getElementById('alert-1').style.display = 'none'; return false;"><i class="material-icons xs">close</i></a>
    <p><strong>Error:</strong> Lo sentimos, algo ha salido mal.</p>
  </div>
  <div class="alert block alert--warning" id="alert-2">
    <a href="#" class="btn__close" onclick="document.getElementById('alert-2').style.display = 'none'; return false;"><i class="material-icons xs">close</i></a>
    <p><strong>Alerta:</strong> Estas configuraciones no se pueden revertir, ten cuidado.</p>
  </div>
  <div class="alert block alert--success" id="alert-3">
    <a href="#" class="btn__close" onclick="document.getElementById('alert-3').style.display = 'none'; return false;"><i class="material-icons xs">close</i></a>
    <p><strong>Muy bien!:</strong> Lo lograste, sigue así.</p>
  </div>
  <div class="alert alert--info" id="alert-4">
    <a href="#" class="btn__close" onclick="document.getElementById('alert-4').style.display = 'none'; return false;"><i class="material-icons xs">close</i></a>
    <p><strong>¿Sabías que...</strong> el 1% de las personas en todo el mundo es dueño de la mitad de las riquezas?</p>
  </div>
</section>
