<section class="block container--fluid">
  <h2>Callouts</h2>
  <article class="block">
    <p>
      Los <strong>callouts</strong> son aquellas secciones de contenido "populares" que usualmente contienen un ícono o imagen, un título y una pequeña descripción para llamar la atención del usuario. Generalmente se encuentran dentro de una grid, como se muestra a continuación:
    </p>
  </article>
  <div class="gw sm-two-up md-four-up">
    <div class="g">
      <article class="callout">
        <img class="callout__media" src="images/fpo-icon.png">
        <h3 class="callout__title">Título del Callout</h3>
        <p>Llama la atención del usuario</p>
      </article>
    </div>
    <div class="g">
      <article class="callout">
        <img class="callout__media" src="images/fpo-icon.png">
        <h3 class="callout__title">Título del Callout</h3>
        <p>Llama la atención del usuario</p>
      </article>
    </div>
    <div class="g">
      <article class="callout">
        <img class="callout__media" src="images/fpo-icon.png">
        <h3 class="callout__title">Título del Callout</h3>
        <p>Llama la atención del usuario</p>
      </article>
    </div>
    <div class="g">
      <article class="callout">
        <img class="callout__media" src="images/fpo-icon.png">
        <h3 class="callout__title">Título del Callout</h3>
        <p>Llama la atención del usuario</p>
      </article>
    </div>
  </div>
</section>
