<section class="block container--fluid">
  <h2>Formularios</h2>
  <article>
    <p>
      Los formularios son uno de los elementos más importantes en cualquier página web debido a que permiten al usuario interactuar con la aplicación, generalmente proporcionando entradas de datos que serán posteriormente procesados por el sistema con algún fin.
    </p>
    <p>
      Su componente visual no es menos importante; en este tema se intenta crear formularios limpios, simples y concisos, acordes con el diseño en general de los otros componentes y fáciles de llenar para el usuario final:
    </p>

    <hr>

    <form class="form">
      <legend>Ejemplo de Formulario de Petición</legend>
      <div class="gw sm-two-up">
        <div class="g">
          <fieldset>
            <article class="field">
              <input class="field__input" id="exampleInputA" type="text" required="required" placeholder="Su Nombre">
              <span class="field__feedback"></span>
              <span class="field__hint"></span>
            </article>
            <article class="field">
              <input class="field__input" id="exampleInput2" type="email" required="required" placeholder="Su Email">
              <span class="field__feedback"></span>
              <span class="field__hint">Proporcione una dirección de correo válida</span>
            </article>
          </fieldset>

          <fieldset>
            <article class="field">
              <label class="field__label">Tipo de solicitud</label>
              <div class="field__input-group">
                <label class="label--radio" for="submission-type-1"><input id="submission-type-1" name="submission-type" type="radio" value="pizza"> Queja</label>
                <label class="label--radio" for="submission-type-2"><input id="submission-type-2" name="submission-type" type="radio" value="tacos"> Reclamo</label>
                <label class="label--radio" for="submission-type-3"><input id="submission-type-3" name="submission-type" type="radio" value="burgers"> Sugerencia</label>
              </div>
              <span class="field__feedback"></span>
              <span class="field__hint"></span>
            </article>
          </fieldset>
        </div>

        <div class="g">
          <fieldset>
            <article class="field">
              <div class="field__select">
                <select name="schramburger">
                  <option value="value-1">Seleccione ciudad</option>
                  <option value="value-2">Medellín</option>
                  <option value="value-3">Bucaramanga</option>
                  <option value="value-4">Bogotá</option>
                  <option value="value-5">Pereira</option>
                  <option value="value-6">Cali</option>
                  <option value="value-7">Barranquilla</option>
                </select>
              </div>
            </article>
          </fieldset>

          <fieldset>
            <article class="field">
              <textarea rows="8" class="field__input" placeholder="Cuerpo del mensaje"></textarea>
              <span class="field__feedback"></span>
              <span class="field__hint"></span>
            </article>
          </fieldset>
        </div>

        <div class="g clear">
          <footer class="form__actions--right">
            <input type="submit" class="btn btn--inline" value="Submit">
          </footer>
        </div>
      </div>
    </form>

  </article>
</section>
