<header class="site-header container--fluid">
  <div class="banner pd-1-tb" id="banner">
    <div class="container--fluid">
        Este es un diseño web lite con varios componentes visuales llamativos para usar en una página web.
        <a class="fixed">Explorar!</a>

        <span class="close">
          <a onclick="document.getElementById('banner').style.display='none'"><i class="material-icons xs">close</i></a>
        </span>
    </div>
  </div>

  <div class="container--fluid">
    <div class="site-nav">
      <a href="#" class="link">Buscar</a>
      <a href="#" class="link">Menú</a>
      <a href="#" class="link">Mi cuenta</a>
    </div>
  </div>
</header>
