<section class="block container--fluid">
  <article>
    <hr>
    <h2>Modales</h2>
    <p>Clic en el botón de abajo para ver una ventana modal en acción</p>
  </article>
  <button class="btn" onclick="document.getElementById('modal').style.display = 'block'; return false;">Mostrar</button>
  <div id="modal" class="modal">
    <div class="modal__container">
      <div class="modal__body">
        <h2>Ejemplo de Ventana Modal</h2>
        <article>
          <p>
            Este es un buen ejemplo de como se verían las ventanas modales en una aplicación sencilla, haciendo uso de la pantalla completa para llamar la atraer al usuario y captar su atención en el contenido que se le presenta.
          </p>
          <p>
            Dado que la ventana modal se usa a modo de pantalla completa, hay que ser consciente de que su contenido debe ser realmente importante y dependiente de las acciones del usuario para que este no sienta que es algo invasivo.
          </p>
        </article>
      </div>
    </div>
    <a href="#" class="modal__close" onclick="document.getElementById('modal').style.display = 'none'; return false;"><i class="material-icons lg">close</i></a>
  </div>
</section>
