<section class="block container--fluid">
  <h2>Previews</h2>
  <article>
    <p>
      Los <strong>previews</strong> son elementos visuales de la UI que permiten previsualizar algún tipo de contenido, generalmente imágenes (de productos, por ejemplo).
    </p>
  </article>

  <div class="gw sm-two-up lg-four-up">
    <div class="g">
      <div class="preview preview--small preview--lite">
        <div class="preview__hidden-face">
          <span>
            Ejemplo de preview pequeño.<br>
            Esta capa oculta opcional puede usarse para un llamado a la acción.<br><br>
            <button class="btn btn--secondary">Acción</button>
          </span>
        </div>
      </div>
    </div>

    <div class="g">
      <div class="preview preview--small preview--lite">
        <div class="preview__hidden-face">
          <span>
            Ejemplo de preview pequeño.<br>
            Esta capa oculta opcional puede usarse para un llamado a la acción.<br><br>
            <button class="btn btn--secondary">Acción</button>
          </span>
        </div>
      </div>
    </div>

    <div class="g">
      <div class="preview preview--small">
        <div class="preview__hidden-face">
          <span>
            Ejemplo de preview pequeño.<br>
            Esta capa oculta opcional puede usarse para un llamado a la acción.<br><br>
            <button class="btn">Acción</button>
          </span>
        </div>
      </div>
    </div>

    <div class="g">
      <div class="preview preview--small">
        <div class="preview__hidden-face">
          <span>
            Ejemplo de preview pequeño.<br>
            Esta capa oculta opcional puede usarse para un llamado a la acción.<br><br>
            <button class="btn">Acción</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
