<section class="block container--fluid">
  <h2>Thumbnails</h2>
  <article>
    <p>
      Los <strong>thumbnails</strong> usualmente se encuentran dentro de una grid o galería, se usan para mostrar una vista de un contenido en específico. Comúnmente contienen una imagen encima del título y un poco más de texto debajo para reforzar la información que se presenta al usuario. El thumbnail entero es un ancla hacia el contenido escondido que se espera mostrar.
    </p>
    <p>Thumbnails are usually found within a grid or gallery, as a teaser or preview of more content. The common use is to have an image on top of a title and text below, while the entire thumbnail is an anchor link.</p>
  </article>
  <div class="gw sm-two-up md-four-up">
    <div class="g">
      <a class="thumbnail" href="javascript:void(0)">
        <img class="thumbnail__media" src="images/fpo-500x300.jpg">
        <div class="thumbnail__caption">
          <h2>Un título capcioso</h2>
          <p>Un poco más de texto para reforzar el contenido</p>
        </div>
      </a>
    </div>
    <div class="g">
      <a class="thumbnail" href="javascript:void(0)">
        <img class="thumbnail__media" src="images/fpo-500x300.jpg">
        <div class="thumbnail__caption">
          <h2>Un título capcioso</h2>
          <p>Un poco más de texto para reforzar el contenido</p>
        </div>
      </a>
    </div>
    <div class="g">
      <a class="thumbnail" href="javascript:void(0)">
        <img class="thumbnail__media" src="images/fpo-500x300.jpg">
        <div class="thumbnail__caption">
          <h2>Un título capcioso</h2>
          <p>Un poco más de texto para reforzar el contenido</p>
        </div>
      </a>
    </div>
    <div class="g">
      <a class="thumbnail" href="javascript:void(0)">
        <img class="thumbnail__media" src="images/fpo-500x300.jpg">
        <div class="thumbnail__caption">
          <h2>Un título capcioso</h2>
          <p>Un poco más de texto para reforzar el contenido</p>
        </div>
      </a>
    </div>
  </div><!--/gw-->
</section>
