<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Luxury Theme</title>
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
</head>
<body>
  <div class="site">
    @@include('_header.html')

    <main class="site-main">
      <div class="page">

        <!-- <div class="banner pd-1-tb" id="banner">
          <div class="container--fluid">
            Este es un diseño web lite con varios componentes visuales llamativos para usar en una página web.
            <a class="fixed">Explorar!</a>

            <span class="close">
              <a onclick="document.getElementById('banner').style.display='none'"><i class="material-icons xs">close</i></a>
            </span>
          </div>
        </div> -->

        <div class="alert alert--info alert--fluid" id="alert-banner">
            <a href="#" class="btn__close" onclick="document.getElementById('alert-banner').style.display = 'none'; return false;"><i class="material-icons xs">close</i></a>
            <p><strong>Hola!</strong> Este es un diseño web lite con varios componentes visuales llamativos para usar en una página web.</p>
        </div>

        <section class="page__header">
          <div class="container--fluid">
            <h1>Módulos y Componentes</h1>
            <article>
              <p>Componentes reusables listos para empezar a crear un gran diseño!</p>
              <p>
                La página entera se encuentra dentro de un módulo <code>div.page</code>. Creado para hacer páginas básicas con un contenedor <code>div.page</code>, un <code>div.page__header</code> y <code>div.page__footer</code> opcional.
              </p>
              <p>
                Puede que estos componentes usen pequeños bloques de javascript para realizar algunas interacciones básicas con la UI. Sin embargo, pese a que la intención del proyecto es enfocarse en CSS</strong>, sientase libre de usar cualquier framework o librería que desee para realizar interacciones y animaciones más avanzadas.
              </p>
            </article>
          </div>
        </section>

        @@include('_callouts.html')
        @@include('_thumbnails.html')
        @@include('_previews.html')
        @@include('_buttons.html')
        @@include('_alerts.html')
        @@include('_modals.html')
        @@include('_forms.html')
      </div>
    </main>
  </div>
</body>
</html>
