$grid__float-at: $breakpoint__xs;
$grid__gutter-width: $unit;
$grid__bottom-spacing-when-stacking: $unit;
$grid__bottom-spacing-when-floating: $grid__gutter-width;

// Grid Wrap
.grid-wrap,
.gw {
  @include clearfix();
  display: block;
  // Sometimes, ul are used for grid wraps
  list-style-type: none;
  margin-bottom: -1*$grid__bottom-spacing-when-stacking;
  @include bp-at-least($grid__float-at) {
    margin: 0 0 -1*$grid__bottom-spacing-when-floating -1*$grid__gutter-width;
  }
}

// Grid
.grid,
.g {
  @include clearfix();
  min-height: 1px;
  position: relative;
  padding-bottom: $grid__bottom-spacing-when-stacking;
  display: block;
  width: 100%;
  @include bp-at-least($grid__float-at) {
    padding: 0 0 $grid__bottom-spacing-when-floating $grid__gutter-width;
    float: left;
  }
}
