button {
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.btn {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  background: $color__navy;
  color: $color__white;
  border: none;
  @extend %josefin-sans--regular;
  font-size: $unit*0.7;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .225em;
  padding: 1em 1.25em;
  cursor: pointer;
  outline: none;
  transition: all ease .1s;

  &:hover {
    background: rgba($color__navy, 0.9);
    color: $color__white;
  }

  &:active {
    background: $color__black;
    color: $color__white;
  }
}

/* @btn--secondary */
.btn--secondary {
  background: transparent;
  box-shadow: inset 0px 0px 0px 1px $color__navy;
  color: $color__navy;
  &:hover, &:active, &:focus {
    box-shadow: inset 0px 0px 0px 1px $color__navy;
  }
}

/* @btn--inline */
.btn--inline {
  margin-right: $unit*0.3;
}

/* @btn--block */
.btn--block {
  display: block;
  width: 100%;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

/* @btn--icon */
.btn--icon {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 1em;
}

.btn--small {
  font-size: $unit*0.55;
}
