/* @forms */

/* @text inputs */
input, textarea, select {
  @extend %josefin-sans--regular;
  letter-spacing: 1px;
}

// Input elements
input, select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 100%;
  padding: 1em;
  border: 1px solid rgba($color__black, .7);
  color: $color__black;
  background: transparent;
  &:focus {
    outline: none;
  }
  // Size modifiers
  &.input--s {
    font-size: .5rem;
  }

  &.input--l {
    font-size: 1.5rem;
  }
}

// Define the input placeholder color to be reused in the
// following code
$input-placeholder: $color__black;

// Placeholders
input, textarea {
  &::-webkit-input-placeholder {
    color: $input-placeholder;
  }
  &:-moz-placeholder {
    color: $input-placeholder;
  }
  &::-moz-placeholder {
    color: $input-placeholder;
  }
  &:-ms-input-placeholder {
    color: $input-placeholder;
  }
}
// Placeholders on focus
input:focus, textarea:focus {
  &::-webkit-input-placeholder {
    opacity: .8;
  }
  &:-moz-placeholder {
    opacity: .8;
  }
  &::-moz-placeholder {
    opacity: .8;
  }
  &:-ms-input-placeholder {
    opacity: .8;
  }
}

/* @select inputs */
select {
  background: transparent;
  width: 100%;

  &.select--sm {
    font-size: .5rem;
  }
  &.select--lg {
    font-size: 1.5rem;
  }
}

.field__select {
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 1em;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}

/* @textareas */
textarea {
  width: 100%;
  min-height: 6em;
  padding: 1em;
  border: 1px solid rgba($color__black, .7);
  &:focus {
    outline: none;
  }
  &.textarea--s {
    font-size: .5rem;
  }
  &.textarea--l {
    font-size: 1.5rem;
  }
}

/* @radio inputs */
input[type=radio] {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #444;
  background: transparent;
  &:checked {
    background: #222;
  }
}

.label--radio {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 1em;
  input {
    position: absolute;
    top: 1px;
    left: -3px;
  }
}

/* @checkbox inputs */
input[type=checkbox] {
  -webkit-appearance:none;
  width: 1em;
  height: 1em;
  padding: 0;
  border: 1px solid #444;
  background: transparent;
  &:checked {
    background: #222;
  }
}

.label--checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 1em;
  input {
    position: absolute;
    top: .7em;
    left: 0;
  }
}

/* @textareas */
textarea {
  width: 100%;
  resize: none;
}

/* @labels */
label {
  font-size: 1em;
}

/* @form */
.form {
  display: block;
  background: rgba($color__white, .9);
}

/* @form-header */
.form__header {
  padding-bottom: 1em;
}

/* @fieldsets */
fieldset {
  border: none;
}

/* @legend */
legend {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

/* @fields */
.field {
  position: relative;
  margin-bottom: 1em;
}

// Field label
.field__label {
  display: block;
}

// Field input
.field__input {
  display: block;
}

// Field hint
.field__hint {
  color: #888;
  font-size: .75em;
  padding: .25em 0;
  font-style: italic;
}

// Field feedback
.field__feedback {
  display: none; // hidden by default, shown if inside .is-error
  font-size: .75em;
  padding: .25em .75em;
  background: rgba(218, 35, 0, 0.3);
  color: white;
}

// Field error states
.field.is-error {

  .field__feedback {
    display: block;
  }
  input {
    border: 1px solid rgba(218, 35, 0, 0.3);
  }

}

/* @input group */
.field__input-group {
  display: block;
  > * {
    display: inline-block;
    margin-right: .5em;
    &:last-child {
      margin-right: 0;
    }
  }
}

// List mod
.field__input-group--list {
  display: block;
  > * {
    display: block;
    margin: .5em 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* @form action */
.form__actions {
  position: relative;
  text-align: center;
}

@include bp-at-least($breakpoint__sm) {
  .form__actions--left {
    text-align: left;
  }

  .form__actions--right {
    text-align: right;
  }
}

.g.clear {
  clear: both;
}
