a {
  text-decoration: none;
  color: inherit;
  cursor: pointer !important;
  &:hover,
  &:active {
    color: rgba($color__navy, .8);
  }

  &.fixed {
    text-decoration: underline;
  }

  &.link {
    &:hover {
      text-decoration: underline;
    }
  }
}


body {
  -webkit-tap-highlight-color: rba(0, 0, 0, .35);
}
