article {
  max-width: $breakpoint__sm;
  margin: auto;
}

/* @paragraphs */
p {
  margin-bottom: 1em;
  line-height: 1.25*$unit;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}
