/* @alerts */
.alert {
  position: relative;
  border-width: 1px;
  border-style: solid;
  line-height: 1.25;
  padding: 1em;

  &.alert--fluid {
    padding: 1em $unit*3;
  }

  // text
  p {
    margin: 0;
  }

  // Close buttons in alert
  .btn__close {
    float: right;
    margin: auto 0;
    height: 1em;
    right: 1em;
    opacity: .5;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }

}

// Error alert
.alert--error {
  color: #e04646;
  border-color: rgba(#e04646, .3);
  background: #ffe6e6;
  // Color of close button
  .btn__close {
    color: #e04646;
  }
  // Color of line {
  &:after {
    border-color: #e04646;
  }
}

// Warning alert
.alert--warning {
  color: #b29804;
  border-color: rgba(#b29804, .3);
  background: #fcf7d8;
  // Color of close button
  .btn__close {
    color: #b29804;
  }
  // Color of line {
  &:after {
    border-color: #b29804;
  }
}

// Info alert
.alert--info {
  color: #537df6;
  border-color: rgba(#537df6, .3);
  background: #e8f3ff;
  // Color of close button
  .btn__close {
    color: #537df6;
  }
  // Color of line
  &:after {
    border-color: #537df6;
  }
}

// Success alert
.alert--success {
  color: #0ca129;
  border-color: rgba(#0ca129, .3);
  background: #dafce1;
  // Color of close button
  .btn__close {
    color: #0ca129;
  }
  // Color of line
  &:after {
    border-color: #0ca129;
  }
}
