$container__max-width: 70em;

.container {
  @include clearfix();
  margin-left: auto;
  margin-right: auto;
  max-width: $container__max-width;
  padding: 0 1.5*$unit;
  @include bp-at-least($breakpoint__sm) {
    padding: 0 3*$unit;
  }
}

.container--fluid {
  @include clearfix();
  margin-left: auto;
  margin-right: auto;
  max-width: $breakpoint__xxl;
  padding: 0 1.5*$unit;
  @include bp-at-least($breakpoint__sm) {
    padding: 0 2*$unit;
  }
}
