@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

$sans:sans-serif;

%sans--light {
  font-family: $sans;
  font-weight: 300;
  font-style: normal;
}

%sans--regular {
  font-family: $sans;
  font-weight: 400;
  font-style: normal;
}

%sans--semi-bold {
  font-family: $sans;
  font-weight: 600;
  font-style: normal;
}

%sans--bold {
  font-family: $sans;
  font-weight: 700;
  font-style: normal;
}

$serif: georgia, times;

%serif--light {
  font-family: $serif;
  font-weight: 300;
  font-style: normal;
}

%serif--regular {
  font-family: $serif;
  font-weight: 400;
  font-style: normal;
}

%serif--italic {
  font-family: $serif;
  font-weight: 400;
  font-style: italic;
}

%serif--semi-bold {
  font-family: $serif;
  font-weight: 600;
  font-style: italic;
}

$montserrat: montserrat;

%montserrat--light {
  font-family: $montserrat;
  font-weight: 300;
  font-style: normal;
}

%montserrat--regular {
  font-family: $montserrat;
  font-weight: 400;
  font-style: normal;
}

%montserrat--italic {
  font-family: $montserrat;
  font-weight: 400;
  font-style: italic;
}

%montserrat--semi-bold {
  font-family: $montserrat;
  font-weight: 600;
  font-style: italic;
}
