<section>
  <div class="block">
    <h2>Columns</h2>
  </div>

  <div class="gw sm-two-up block">
    <div class="g">
      <article>
        <h3>Header 1</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste accusantium aperiam repudiandae, doloribus aliquid quia odio recusandae, unde, expedita hic fuga velit quo modi cumque. Repudiandae deserunt fuga velit.
        </p>
      </article>
    </div>

    <div class="g">
      <article>
        <h3>Header 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste accusantium aperiam repudiandae, doloribus aliquid quia odio recusandae, unde, expedita hic fuga velit quo modi cumque. Repudiandae deserunt fuga velit.
        </p>
      </article>
    </div>
  </div>

  <div class="gw sm-three-up block">
    <div class="g">
      <article>
        <h3>Header 1</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste accusantium aperiam repudiandae, doloribus aliquid quia odio recusandae, unde, expedita hic fuga velit quo modi cumque. Repudiandae deserunt fuga velit.
        </p>
      </article>
    </div>

    <div class="g">
      <article>
        <h3>Header 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste accusantium aperiam repudiandae, doloribus aliquid quia odio recusandae, unde, expedita hic fuga velit quo modi cumque. Repudiandae deserunt fuga velit.
        </p>
      </article>
    </div>

    <div class="g">
      <article>
        <h3>Header 3</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste accusantium aperiam repudiandae, doloribus aliquid quia odio recusandae, unde, expedita hic fuga velit quo modi cumque. Repudiandae deserunt fuga velit.
        </p>
      </article>
    </div>
  </div>

  <div class="gw sm-two-up md-four-up block">
    <div class="g">
      <article>
        <h3>Header 1</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste accusantium aperiam repudiandae, doloribus aliquid quia odio recusandae, unde, expedita hic fuga velit quo modi cumque. Repudiandae deserunt fuga velit.
        </p>
      </article>
    </div>

    <div class="g">
      <article>
        <h3>Header 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste accusantium aperiam repudiandae, doloribus aliquid quia odio recusandae, unde, expedita hic fuga velit quo modi cumque. Repudiandae deserunt fuga velit.
        </p>
      </article>
    </div>

    <div class="g">
      <article>
        <h3>Header 3</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste accusantium aperiam repudiandae, doloribus aliquid quia odio recusandae, unde, expedita hic fuga velit quo modi cumque. Repudiandae deserunt fuga velit.
        </p>
      </article>
    </div>

    <div class="g">
      <article>
        <h3>Header 4</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iste accusantium aperiam repudiandae, doloribus aliquid quia odio recusandae, unde, expedita hic fuga velit quo modi cumque. Repudiandae deserunt fuga velit.
        </p>
      </article>
    </div>
  </div>
</section>
