<section>
  <div class="block--ends">
    <h2>Color Scheme</h2>
  </div>
  <div class="block rounded-color">
    <div class="gw xs-two-up sm-three-up md-four-up lg-four-up">
      <div class="g">
        <div class="block rounded-color">
          <div class="rounded bg-light--green"></div>
          <div class="color-description">
            <div class="color-name">light green</div>
            <div class="hex">#69e0a1</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-green"></div>
          <div class="color-description">
            <div class="color-name">green</div>
            <div class="hex">#43cb83</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-dark--green"></div>
          <div class="color-description">
            <div class="color-name">dark green</div>
            <div class="hex">#2da867</div>
          </div>
        </div>
      </div>

      <div class="g">
        <div class="block rounded-color">
          <div class="rounded bg-light--blue"></div>
          <div class="color-description">
            <div class="color-name">light blue</div>
            <div class="hex">#71cff3</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-blue"></div>
          <div class="color-description">
            <div class="color-name">blue</div>
            <div class="hex">#50bae2</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-dark--blue"></div>
          <div class="color-description">
            <div class="color-name">dark blue</div>
            <div class="hex">#3a9ec3</div>
          </div>
        </div>
      </div>

      <div class="g">
        <div class="block rounded-color">
          <div class="rounded bg-light--red"></div>
          <div class="color-description">
            <div class="color-name">light red</div>
            <div class="hex">#fb9267</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-red"></div>
          <div class="color-description">
            <div class="color-name">red</div>
            <div class="hex">#f57846</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-dark--red"></div>
          <div class="color-description">
            <div class="color-name">dark red</div>
            <div class="hex">#db6334</div>
          </div>
        </div>
      </div>

      <div class="g">
        <div class="block rounded-color">
          <div class="rounded bg-light--orange"></div>
          <div class="color-description">
            <div class="color-name">light orange</div>
            <div class="hex">#fdcc7e</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-orange"></div>
          <div class="color-description">
            <div class="color-name">orange</div>
            <div class="hex">#f9b954</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-dark--orange"></div>
          <div class="color-description">
            <div class="color-name">dark orange</div>
            <div class="hex">#e7a133</div>
          </div>
        </div>
      </div>

      <div class="g">
        <div class="block rounded-color">
          <div class="rounded bg-light--violet"></div>
          <div class="color-description">
            <div class="color-name">light violet</div>
            <div class="hex">#8e8ef3</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-violet"></div>
          <div class="color-description">
            <div class="color-name">violet</div>
            <div class="hex">#7070ef</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-dark--violet"></div>
          <div class="color-description">
            <div class="color-name">dark violet</div>
            <div class="hex">#5454cd</div>
          </div>
        </div>
      </div>

      <div class="g">
        <div class="block rounded-color">
          <div class="rounded bg-light--black"></div>
          <div class="color-description">
            <div class="color-name">light black</div>
            <div class="hex">#515163</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-black"></div>
          <div class="color-description">
            <div class="color-name">black</div>
            <div class="hex">#3f3f4d</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-dark--black"></div>
          <div class="color-description">
            <div class="color-name">dark black</div>
            <div class="hex">#30303c</div>
          </div>
        </div>
      </div>

      <div class="g">
        <div class="block rounded-color">
          <div class="rounded bg-light--grey"></div>
          <div class="color-description">
            <div class="color-name">light grey</div>
            <div class="hex">#f4f5f9</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-grey"></div>
          <div class="color-description">
            <div class="color-name">grey</div>
            <div class="hex">#dde2ef</div>
          </div>
        </div>
        <div class="block rounded-color">
          <div class="rounded bg-dark--grey"></div>
          <div class="color-description">
            <div class="color-name">dark grey</div>
            <div class="hex">#c0c7da</div>
          </div>
        </div>
      </div>

      <div class="g">
        <div class="block rounded-color">
          <div class="rounded bg-text"></div>
          <div class="color-description">
            <div class="color-name">text</div>
            <div class="hex">#576077</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
