<section>
  <div class="block">
    <h2>Labels</h2>
  </div>

  <div>
    <h3>Squared label (Default)</h3>

    <div class="block">
      <label class="label bg-green color-white">Green</label>
      <label class="label bg-blue color-white">Blue</label>
      <label class="label bg-orange color-white">Orange</label>
      <label class="label bg-violet color-white">Violet</label>
      <label class="label bg-grey">Grey</label>
      <label class="label bg-red color-white">Red</label>
      <label class="label bg-black color-white">Dark</label>
      <label class="label">Default</label>
    </div>

    <h3>Tag label</h3>

    <div class="block">
      <label class="label label--tag bg-green color-white">Green</label>
      <label class="label label--tag bg-blue color-white">Blue</label>
      <label class="label label--tag bg-orange color-white">Orange</label>
      <label class="label label--tag bg-violet color-white">Violet</label>
      <label class="label label--tag bg-grey">Grey</label>
      <label class="label label--tag bg-red color-white">Red</label>
      <label class="label label--tag bg-black color-white">Dark</label>
      <label class="label label--tag">Default</label>
      <br>
      <label class="label label--tag label--tag-left bg-green color-white">Green</label>
      <label class="label label--tag label--tag-left bg-blue color-white">Blue</label>
      <label class="label label--tag label--tag-left bg-orange color-white">Orange</label>
      <label class="label label--tag label--tag-left bg-violet color-white">Violet</label>
      <label class="label label--tag label--tag-left bg-grey">Grey</label>
      <label class="label label--tag label--tag-left bg-red color-white">Red</label>
      <label class="label label--tag label--tag-left bg-black color-white">Dark</label>
      <label class="label label--tag label--tag-left">Default</label>
    </div>

    <h3>Rounded label</h3>

    <div class="block">
      <label class="label label--rounded bg-green color-white">Green</label>
      <label class="label label--rounded bg-blue color-white">Blue</label>
      <label class="label label--rounded bg-orange color-white">Orange</label>
      <label class="label label--rounded bg-violet color-white">Violet</label>
      <label class="label label--rounded bg-grey">Grey</label>
      <label class="label label--rounded bg-red color-white">Red</label>
      <label class="label label--rounded bg-black color-white">Dark</label>
      <label class="label label--rounded">Default</label>

      <label class="label label--rounded label--circle bg-black color-white">1</label>
      <label class="label label--rounded label--circle bg-black color-white">2</label>
      <label class="label label--rounded label--circle bg-black color-white">3</label>
    </div>
  </div>
</section>
