<section>
  <div class="block">
    <h2>Lists</h2>
  </div>
  <div class="block">
    <h3>Simple lists</h3>
  </div>
  <div class="gw sm-two-up md-four-up">
    <div class="g">
      <ol>
        <li>Javascript</li>
        <li>Python</li>
        <li>C++</li>
        <li>Java</li>
        <li>Ruby</li>
      </ol>
    </div>

    <div class="g">
      <ul>
        <li>Javascript</li>
        <li>Python</li>
        <li>C++</li>
        <li>Java</li>
        <li>Ruby</li>
      </ul>
    </div>

    <div class="g">
      <ul class="checkbox-list">
        <li>
          <label for="checkbox1" class="checkbox-group">
            <input type="checkbox" checked="checked" id="checkbox1">
            <span></span>
          </label>
          <label for="checkbox1" class="label--checkbox">Javascript</label>
        </li>
        <li>
          <label for="checkbox2" class="checkbox-group">
            <input type="checkbox" checked="checked" id="checkbox2">
            <span></span>
          </label>
          <label for="checkbox2" class="label--checkbox">Python</label>
        </li>
        <li>
          <label for="checkbox3" class="checkbox-group">
            <input type="checkbox" id="checkbox3">
            <span></span>
          </label>
          <label for="checkbox3" class="label--checkbox">C++</label>
        </li>
        <li>
          <label for="checkbox4" class="checkbox-group">
            <input type="checkbox" id="checkbox4">
            <span></span>
          </label>
          <label for="checkbox4" class="label--checkbox">Java</label>
        </li>
        <li>
          <label for="checkbox5" class="checkbox-group">
            <input type="checkbox" id="checkbox5">
            <span></span>
          </label>
          <label for="checkbox5" class="label--checkbox">Ruby</label>
        </li>
      </ul>
    </div>

    <div class="g">
      <ul class="radio-list">
        <li>
          <label for="radio1" class="radio-group">
            <input type="radio" name="radio-list1" id="radio1">
            <span></span>
          </label>
          <label for="radio1" class="label--radio">Javascript</label>
        </li>
        <li>
          <label for="radio2" class="radio-group">
            <input type="radio" name="radio-list1" id="radio2" checked="checked">
            <span></span>
          </label>
          <label for="radio2" class="label--radio">Python</label>
        </li>
        <li>
          <label for="radio3" class="radio-group">
            <input type="radio" name="radio-list1" id="radio3">
            <span></span>
          </label>
          <label for="radio3" class="label--radio">C++</label>
        </li>
        <li>
          <label for="radio4" class="radio-group">
            <input type="radio" name="radio-list1" id="radio4">
            <span></span>
          </label>
          <label for="radio4" class="label--radio">Java</label>
        </li>
        <li>
          <label for="radio5" class="radio-group">
            <input type="radio" name="radio-list1" id="radio5">
            <span></span>
          </label>
          <label for="radio5" class="label--radio">Ruby</label>
        </li>
      </ul>
    </div>
  </div>

  <div class="block">
    <div class="gw md-two-up">
      <div class="g">
        <div class="block">
          <h3>To do list</h3>
        </div>
        <ul class="todo-list">
          <li>
            <label for="checkbox6" class="checkbox-group">
              <input type="checkbox" id="checkbox6" checked="checked">
              <span></span>
            </label>
            <label for="checkbox20" class="checkbox-icon">
              <input type="checkbox" id="checkbox20" checked="checked">
              <div class="icons">
                <span class="fa fa-star color-dark--grey"></span>
                <span class="fa fa-star color-orange"></span>
              </div>
            </label>
            <label for="checkbox6" class="label--checkbox">
              Lorem ipsum dolor sit amet
            </label>
          </li>
          <li>
            <label for="checkbox7" class="checkbox-group">
              <input type="checkbox" id="checkbox7" checked="checked">
              <span></span>
            </label>
            <label for="checkbox70" class="checkbox-icon">
              <input type="checkbox" id="checkbox70">
              <div class="icons">
                <span class="fa fa-star color-dark--grey"></span>
                <span class="fa fa-star color-orange"></span>
              </div>
            </label>
            <label for="checkbox7" class="label--checkbox">
              Lorem ipsum dolor sit amet
            </label>
          </li>
          <li>
            <label for="checkbox8" class="checkbox-group">
              <input type="checkbox" id="checkbox8">
              <span></span>
            </label>
            <label for="checkbox80" class="checkbox-icon">
              <input type="checkbox" id="checkbox80" checked="checked">
              <div class="icons">
                <span class="fa fa-star color-dark--grey"></span>
                <span class="fa fa-star color-orange"></span>
              </div>
            </label>
            <label for="checkbox8" class="label--checkbox">
              Lorem ipsum dolor sit amet
            </label>
          </li>
          <li>
            <label for="checkbox9" class="checkbox-group">
              <input type="checkbox" id="checkbox9" checked="checked">
              <span></span>
            </label>
            <label for="checkbox90" class="checkbox-icon">
              <input type="checkbox" id="checkbox90">
              <div class="icons">
                <span class="fa fa-star color-dark--grey"></span>
                <span class="fa fa-star color-orange"></span>
              </div>
            </label>
            <label for="checkbox9" class="label--checkbox">
              Lorem ipsum dolor sit amet
            </label>
          </li>
          <li>
            <label for="checkbox10" class="checkbox-group">
              <input type="checkbox" id="checkbox10">
              <span></span>
            </label>
            <label for="checkbox100" class="checkbox-icon">
              <input type="checkbox" id="checkbox100" checked="checked">
              <div class="icons">
                <span class="fa fa-star color-dark--grey"></span>
                <span class="fa fa-star color-orange"></span>
              </div>
            </label>
            <label for="checkbox10" class="label--checkbox">
              Lorem ipsum dolor sit amet
            </label>
          </li>
        </ul>
      </div>

      <div class="g">
        <div class="block">
          <h3>Draggable list</h3>
        </div>

        <ul class="draggable-list">
          <li><span class="fa fa-bars"></span>Draggable list item</li>
          <li><span class="fa fa-bars"></span>Draggable list item</li>
          <li><span class="fa fa-bars"></span>Draggable list item</li>
          <li><span class="fa fa-bars"></span>Draggable list item</li>
          <li><span class="fa fa-bars"></span>Draggable list item</li>
        </ul>

      </div>
    </div>
  </div>
</section>
