<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>UI-Kit</title>
</head>
<body>

  <div class="site">
    <div class="site-header">
      <div class="container">
        <div class="block--ends">
          <h1>UI Kit - Inspirational Design</h1>
        </div>
      </div>
    </div>

    <div class="site-main">
      <div class="page">
        <div class="container">
          @@include('./_color-scheme.html')
          @@include('./_links.html')
          @@include('./_columns.html')
          @@include('./_lists.html')
          @@include('./_tables.html')
          @@include('./_quotes.html')
          @@include('./_collapsible.html')
          @@include('./_tabs.html')
          @@include('./_buttons.html')
          @@include('./_input-fields.html')
          @@include('./_dropdowns.html')
          @@include('./_labels.html')
          @@include('./_notifications.html')
          @@include('./_popups.html')
        </div>
      </div>
    </div>

    <div class="site-footer"></div>
  </div>
</body>
</html>
