@import "../../sass/vars";
@import "../../sass/mixin-clearfix";
@import "../../sass/mixin-breakpoints";
@import "../../sass/modules/blocks";

$main_color: #1c2238;
$secondary_color: #252c48;
$purple_color: #5f3080;
$off_white_color: #d4d4e6;
$text_color: #949ab3;

$aside_width: $breakpoint__xs + ($unit * 2);

%raleway--regular {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
}

%raleway--bold {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
}
