<!-- http://wrapbootstrap.com/preview/WB0148688 -->
<lux-site>
  <lux-site-header>
    <div class="side">
      <a
        class="link"
        (click)="menuHidden$.next(false)">
        <i class="material-icons">menu</i>
      </a>
      <span class="date">{{getDate()}}</span>
    </div>

    <a
      class="branding hide__sm"
      routerLink="/">
      <span class="h1 branding__logo--text">Watch–Z</span>
      <span class="h2 branding__wordmark">El tiempo avanza</span>
    </a>

    <div class="side">
      <a class="btn btn--secondary">Ingresar</a>
      <a class="shopping__cart">
        <span class="cart__icon">
          <i class="material-icons">shopping_cart</i>
          <span class="counter">0</span>
        </span>
      </a>
    </div>
  </lux-site-header>

  <lux-site-nav
    #nav
    class="hide__sm">
    <a
      class="link menu"
      (click)="menuHidden$.next(false)"
      [class.is-hidden]="!(nav.sticky$ | async)">
      <i class="material-icons">menu</i>
    </a>
    <a
      routerLink="/catalog"
      class="link">
      Explorar
    </a>
    <a
      routerLink="/catalog"
      class="link">
      Marcas
    </a>
    <a
      routerLink="/catalog"
      class="link">
      Hombre
    </a>
    <a
      routerLink="/catalog"
      class="link">
      Mujer
    </a>
    <a
      routerLink="/catalog"
      class="link">
      Lo último
    </a>
    <a
      routerLink="/catalog"
      class="link">
      Vender reloj
    </a>
    <a
      class="link shopping__cart"
      [class.is-hidden]="!(nav.sticky$ | async)">
      <span class="cart__icon">
        <i class="material-icons">shopping_cart</i>
        <span class="counter">0</span>
      </span>
    </a>
  </lux-site-nav>

  <lux-site-menu
    [menu]="menu"
    [hidden]="menuHidden$"></lux-site-menu>

  <lux-breadcrumbs></lux-breadcrumbs>

  <lux-site-main>
    <lux-page>
      <router-outlet></router-outlet>

      <lux-section>
        <div class="gw sm-two-up md-four-up services">
          <div class="g">
            <article>
              <div class="img--icon">
                <img
                  class="img--natural"
                  src="assets/images/luxury/services/01.png">
              </div>
              <h4>Envíos nacionales gratis</h4>
              <p>
                Hacemos envíos nacionales gratis para compras superiores a $200,000
              </p>
            </article>
          </div>
          <div class="g">
            <article>
              <div class="img--icon">
                <img
                  class="img--natural"
                  src="assets/images/luxury/services/02.png">
              </div>
              <h4>Garantía de devolución</h4>
              <p>
                Te regresamos tu dinero en 30 días hábiles gracias a nuestra garantía de devolución
              </p>
            </article>
          </div>
          <div class="g">
            <article>
              <div class="img--icon">
                <img
                  class="img--natural"
                  src="assets/images/luxury/services/03.png">
              </div>
              <h4>Soporte al cliente 24/7</h4>
              <p>
                Te ayudamos en lo que necesites las 24 horas del día, 7 días a la semana
              </p>
            </article>
          </div>
          <div class="g">
            <article>
              <div class="img--icon">
                <img
                  class="img--natural"
                  src="assets/images/luxury/services/04.png">
              </div>
              <h4>Pagos seguros</h4>
              <p>
                Paga seguro a través de nuestro sitio protegido bajo SSL / Certificado de Seguridad
              </p>
            </article>
          </div>
        </div>
      </lux-section>

      <lux-section>
        <article>
          <h2>Qué dicen nuestros clientes</h2>
          <p>
            <strong>
              <span class="number color--gold">9.5/10</span>
            </strong>
          </p>
          <span>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star_half</i>
          </span>
        </article>

        <ng-template
          let-item
          #testimonial>
          <div class="testimonial">
            <article>
              <h3>{{item.header}}</h3>
              <p>"{{item.text}}"</p>
              <h4>{{item.name}}</h4>
            </article>
          </div>
        </ng-template>
        <lux-carousel
          [items]="testimonials"
          [options]="{ autoplay: true }"
          [template]="testimonial"
          [theme]="'gold'">
        </lux-carousel>
      </lux-section>
    </lux-page>
  </lux-site-main>
  <lux-site-footer [sections]="footerInfo"></lux-site-footer>
</lux-site>
