button {
  &:focus,
  &:active {
    outline: none;
  }
}

.btn {
  @extend %sans--bold;
  user-select: none;
  display: inline-block;
  border: 1px solid #cb9b14;
  border-radius: 45px;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #eab92d;
  background-image: linear-gradient(to bottom, #f4c33d, #c79810);
  color: $color__white;
  font-size: $unit*0.7;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .125em;
  padding: .8em 1.2em;
  cursor: pointer;
  outline: none;
  transition: all ease .1s;
  &:hover {
    border: 1px solid #a17b10;
    background-color: #f4c33d;
    background-image: linear-gradient(to bottom, #f4c33d, #a48118);
  }
  &:active {
    border: 1px solid #a17b10;
    background-color: #f4c33d;
    background-image: linear-gradient(to bottom, #f4c33d, #806513);
  }
}

/* @btn--secondary */

.btn--secondary {
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: $color__white;
  border: 1px solid #a2a2a2;
  background-color: #cdcdcd;
  background-image: linear-gradient(to bottom, #cdcdcd, #a2a2a2);
  &:hover {
    border: 1px solid #8b8b8b;
    background-color: #cdcdcd;
    background-image: linear-gradient(to bottom, #cdcdcd, #8b8b8b);
  }
  &:active {
    border: 1px solid #8b8b8b;
    background-color: #cdcdcd;
    background-image: linear-gradient(to bottom, #cdcdcd, #6b6b6b);
  }
}

/* @btn--inline */

.btn--inline {
  display: inline-block;
  width: auto;
  margin-left: $unit*0.3;
  &:first-child {
    margin-left: 0;
  }
}

/* @btn--block */

.btn--block {
  display: block;
  width: 100%;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

/* @btn--icon */

.btn--icon {
  border: none;
  padding: 0 .5em;
  font-size: 1em;
}

.btn--small {
  font-size: $unit*0.55;
}
