// H1
h1, .h1 {
  font-size: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  @extend %sans--bold;
}

// H2
h2, .h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  @extend %sans--bold;
}

// H3
h3, .h3 {
  font-size: 1.3em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  @extend %sans--bold;
}

// H4
h4, .h4 {
  font-size: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  @extend %sans--bold;
}

// H5
h5, .h5 {
  font-size: 0.8em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  @extend %sans--bold;
}

// H6
h6, .h6 {
  font-size: 0.7em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  @extend %sans--bold;
}

.color--gold {
  color: $color__gold;
}
