<aside class="aside-navbar">
  <ol class="menu-container">
    <li class="menu--item menu--heading">
      <h3>Menu</h3>
      <span class="settings-icon">
        <a href="#">
          <i class="fa fa-cog"></i>
        </a>
      </span>
    </li>
    <li class="menu--item">
      <a href="#">Overview</a>
    </li>
    <li class="menu--item">
      <a href="#">Sales</a>
    </li>
    <li class="menu--item">
      <a href="#">Your Staff</a>
    </li>
    <li class="menu--item">
      <a href="#">Analytics & Targetting</a>
    </li>
    <li class="menu--item">
      <a href="#">What's New</a>
    </li>
  </ol>

  <hr>

  <ol class="menu-container">
    <li class="menu--item menu--heading">
      <h3>Dashboard</h3>
      <span class="settings-icon">
        <a href="#">
          <i class="fa fa-cog"></i>
        </a>
      </span>
    </li>
    <li class="menu--item">
      <a href="#">Messages</a>
    </li>
    <li class="menu--item">
      <a href="#">Connections</a>
    </li>
    <li class="menu--item">
      <a href="#">Integrations</a>
    </li>
    <li class="menu--item">
      <a href="#">Account Settings</a>
    </li>
    <li class="menu--item">
      <a href="#">App Settings</a>
    </li>
  </ol>
</aside>
