.page {
  position: relative;
}

// The header
.page__header {
  background-color: rgba(#000, .03);
}

// The footer
.page__footer {}

lux-section {
  &:nth-child(even) {
    section {
      @extend .page__header;
    }
  }
}

section {
  padding: 2*$unit 0;
  display: block;
  position: relative;
  text-align: left;
  box-shadow: 0px 1px 0px #eee;
}

.space__between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
}

.nowrap {
  white-space: nowrap;
}
