.preview__container {
  position: relative;
  width: 100%;
  margin: auto;
  min-width: 15em;
  max-width: 19em;
  border-radius: 5px;
  border: 1px solid #DEDDE9;
  background: $color__white;
  display: block;
  opacity: 1;
  .preview__content {
    padding: $unit;
    padding-top: $unit*2;
    text-align: center;
    .preview__media {
      max-width: 12em;
      margin-bottom: .5em;
    }
    .discount {
      top: $unit;
      left: $unit;
      position: absolute;
      color: rgb(205, 96, 96);
    }
    .preview__info {
      font-size: $unit*.65;
      height: $unit*3.5;
      overflow: hidden;
      display: flex;
      align-items: center;
      p {
        margin: 0;
      }
    }
    .preview__price {
      font-size: $unit*0.8;
      margin-bottom: .5em;
      .prev__price {
        font-size: .9em;
        text-decoration: line-through;
        color: rgba($color__black, .8);
        margin-right: .5em;
      }
      .actual__price {
        font-weight: bold;
      }
    }
    .preview__actions {
      text-align: center;
      .btn--icon {
        color: $color__grey;
        &:hover {
          color: $color__black;
        }
        &:active {
          color: $color__gold;
        }
      }
    }
  }
}

