@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700|Josefin+Sans:300,400,600,700');

$sans:sans-serif;

%sans--light {
  font-family: $sans;
  font-weight: 300;
  font-style: normal;
}

%sans--regular {
  font-family: $sans;
  font-weight: 400;
  font-style: normal;
}

%sans--semi-bold {
  font-family: $sans;
  font-weight: 600;
  font-style: normal;
}

%sans--bold {
  font-family: $sans;
  font-weight: 700;
  font-style: normal;
}

$serif: georgia, times;

%serif--light {
  font-family: $serif;
  font-weight: 300;
  font-style: normal;
}

%serif--regular {
  font-family: $serif;
  font-weight: 400;
  font-style: normal;
}

%serif--italic {
  font-family: $serif;
  font-weight: 400;
  font-style: italic;
}

%serif--semi-bold {
  font-family: $serif;
  font-weight: 600;
  font-style: italic;
}

$assistant: Assistant;

%assistant--light {
  font-family: $assistant;
  font-weight: 300;
  font-style: normal;
}

%assistant--regular {
  font-family: $assistant;
  font-weight: 400;
  font-style: normal;
}

%assistant--italic {
  font-family: $assistant;
  font-weight: 400;
  font-style: italic;
}

%assistant--semi-bold {
  font-family: $assistant;
  font-weight: 600;
  font-style: normal;
}

%assistant--bold {
  font-family: $assistant;
  font-weight: 700;
  font-style: normal;
}

$josefin-sans: "Josefin Sans", Assistant, sans-serif;

%josefin-sans--light {
  font-family: $josefin-sans;
  font-weight: 300;
  font-style: normal;
}

%josefin-sans--regular {
  font-family: $josefin-sans;
  font-weight: 400;
  font-style: normal;
}

%josefin-sans--italic {
  font-family: $josefin-sans;
  font-weight: 400;
  font-style: italic;
}

%josefin-sans--semi-bold {
  font-family: $josefin-sans;
  font-weight: 600;
  font-style: normal;
}

%assistant--bold {
  font-family: $assistant;
  font-weight: 700;
  font-style: normal;
}

/* Rules for sizing the icon. */
.material-icons { vertical-align: middle; }
.material-icons.xs { font-size: 18px / 16px * 100%; }
.material-icons.sm { font-size: 24px / 16px * 100%; }
.material-icons.md { font-size: 36px / 16px * 100%; }
.material-icons.lg { font-size: 48px / 16px * 100%; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
