@import "../../sass/utils";
.carousel__container {
  @include clearfix();
  overflow: hidden;
  position: relative;
  .carousel {
    display: flex;
    transform: translate3d(0, 0, 0);
    flex-wrap: nowrap;
    transition-property: transform;
  }
  .carousel__item {
    flex-basis: 100%;
    flex-shrink: 0;
  }
  .carousel__circles {
    position: absolute;
    left: 0;
    right: 0;
    bottom: $unit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;
    padding: 0 $unit;
    .carousel__circle {
      width: $unit * 0.6;
      height: $unit * 0.6;
      border-radius: 50%;
      margin-left: $unit;
      margin-top: $unit;
      transition: 1s background ease;
      position: relative;
      cursor: pointer;
      border: 1px solid $color__blue;
      &.active {
        background: $color__blue;
      }
      &.btn--white {
        border: 1px solid $color__white;
        &.active {
          background: $color__white;
        }
      }
      &.btn--gold {
        border: 1px solid $color__gold;
        &.active {
          background: $color__gold;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transform: scale(2.5);
      }
    }
  }
  .carousel__action {
    width: $unit*2;
    height: $unit*2;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    &.left {
      left: $unit / 2;
    }
    &.right {
      right: $unit / 2;
    }
  }
}
