@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans:400,600');
$sans: 'Quicksand', 'Open Sans', sans-serif;
%sans--light {
  font-family: $sans;
  font-weight: 100;
  font-style: normal;
}

%sans--regular {
  font-family: $sans;
  font-weight: 400;
  font-style: normal;
}

%sans--bold {
  font-family: $sans;
  font-weight: 700;
  font-style: normal;
}

@import "icons";
