<section>
  <div class="block">
    <h2>Buttons</h2>
  </div>

  <div class="block">
    <h3>Button styles</h3>
    <button class="btn btn--light">Light Button</button>
    <button class="btn btn--light btn--secondary color-black">Light Secondary Button</button>
    <button class="btn btn--ghost">Light Ghost Button</button>
    <br>
    <button class="btn">Regular Button</button>
    <button class="btn btn--secondary color-black">Secondary Button</button>
    <button class="btn btn--ghost">Ghost Button</button>
    <br>
    <button class="btn btn--bold">Bold Button</button>
    <button class="btn btn--bold btn--secondary color-black">Bold Secondary Button</button>
    <button class="btn btn--ghost">Bold Ghost Button</button>
  </div>

  <div class="block">
    <h3>Button sizes</h3>
    <div class="gw sm-two-up">
      <div class="g">
        <button class="btn btn--lg">lg button</button>
        <br>
        <button class="btn btn--md">md button</button>
        <br>
        <button class="btn btn--sm">sm button</button>
      </div>

      <div class="g">
        <button class="btn btn--secondary color-black btn--lg">lg button</button>
        <br>
        <button class="btn btn--secondary color-black btn--md">md button</button>
        <br>
        <button class="btn btn--secondary color-black btn--sm">sm button</button>
      </div>
    </div>
  </div>

  <div class="block">
    <h3>Standart buttons</h3>
    <button class="btn btn--black">Standart</button>
    <button class="btn btn--black btn--rounded">Rounded</button>
    <button class="btn btn--black btn--hexagon">Hexagon</button>
    <button class="btn btn--black btn--rectangle">Rectangle</button>
    <button class="btn btn--black btn--left">Left</button>
    <button class="btn btn--black btn--right">Right</button>
    <button class="btn btn--black btn--circle"><span class="fa fa-chevron-left"></span></button>
    <button class="btn btn--black btn--circle"><span class="fa fa-chevron-right"></span></button>
  </div>

  <div class="block">
    <button class="btn btn--green">Standart</button>
    <button class="btn btn--green btn--rounded">Rounded</button>
    <button class="btn btn--green btn--hexagon">Hexagon</button>
    <button class="btn btn--green btn--rectangle">Rectangle</button>
    <button class="btn btn--green btn--left">Left</button>
    <button class="btn btn--green btn--right">Right</button>
    <button class="btn btn--green btn--circle"><span class="fa fa-chevron-left"></span></button>
    <button class="btn btn--green btn--circle"><span class="fa fa-chevron-right"></span></button>
  </div>

  <div class="block">
    <button class="btn btn--blue">Standart</button>
    <button class="btn btn--blue btn--rounded">Rounded</button>
    <button class="btn btn--blue btn--hexagon">Hexagon</button>
    <button class="btn btn--blue btn--rectangle">Rectangle</button>
    <button class="btn btn--blue btn--left">Left</button>
    <button class="btn btn--blue btn--right">Right</button>
    <button class="btn btn--blue btn--circle"><span class="fa fa-chevron-left"></span></button>
    <button class="btn btn--blue btn--circle"><span class="fa fa-chevron-right"></span></button>
  </div>

  <div class="block">
    <button class="btn btn--red">Standart</button>
    <button class="btn btn--red btn--rounded">Rounded</button>
    <button class="btn btn--red btn--hexagon">Hexagon</button>
    <button class="btn btn--red btn--rectangle">Rectangle</button>
    <button class="btn btn--red btn--left">Left</button>
    <button class="btn btn--red btn--right">Right</button>
    <button class="btn btn--red btn--circle"><span class="fa fa-chevron-left"></span></button>
    <button class="btn btn--red btn--circle"><span class="fa fa-chevron-right"></span></button>
  </div>

  <div class="block">
    <button class="btn btn--orange">Standart</button>
    <button class="btn btn--orange btn--rounded">Rounded</button>
    <button class="btn btn--orange btn--hexagon">Hexagon</button>
    <button class="btn btn--orange btn--rectangle">Rectangle</button>
    <button class="btn btn--orange btn--left">Left</button>
    <button class="btn btn--orange btn--right">Right</button>
    <button class="btn btn--orange btn--circle"><span class="fa fa-chevron-left"></span></button>
    <button class="btn btn--orange btn--circle"><span class="fa fa-chevron-right"></span></button>
  </div>

  <div class="block">
    <button class="btn btn--violet">Standart</button>
    <button class="btn btn--violet btn--rounded">Rounded</button>
    <button class="btn btn--violet btn--hexagon">Hexagon</button>
    <button class="btn btn--violet btn--rectangle">Rectangle</button>
    <button class="btn btn--violet btn--left">Left</button>
    <button class="btn btn--violet btn--right">Right</button>
    <button class="btn btn--violet btn--circle"><span class="fa fa-chevron-left"></span></button>
    <button class="btn btn--violet btn--circle"><span class="fa fa-chevron-right"></span></button>
  </div>

  <div class="block">
    <button class="btn btn--grey">Standart</button>
    <button class="btn btn--grey btn--rounded">Rounded</button>
    <button class="btn btn--grey btn--hexagon">Hexagon</button>
    <button class="btn btn--grey btn--rectangle">Rectangle</button>
    <button class="btn btn--grey btn--left">Left</button>
    <button class="btn btn--grey btn--right">Right</button>
    <button class="btn btn--grey btn--circle"><span class="fa fa-chevron-left"></span></button>
    <button class="btn btn--grey btn--circle"><span class="fa fa-chevron-right"></span></button>
  </div>
</section>
