<section>
  <div class="block">
    <h2>Link Styles</h2>
  </div>
  <div class="gw xs-two-up sm-three-up md-four-up lg-four-up">
    <div class="g">
      <div class="block rounded-color">
        <div class="rounded bg-blue"></div>
        <div class="color-description">
          <div class="color-name">link</div>
          <div class="hex">#50bae2</div>
        </div>
      </div>
    </div>

    <div class="g">
      <div class="block rounded-color">
        <div class="rounded bg-light--blue"></div>
        <div class="color-description">
          <div class="color-name">hovered link</div>
          <div class="hex">#71cff3</div>
        </div>
      </div>
    </div>

    <div class="g">
      <div class="block rounded-color">
        <div class="rounded bg-dark--blue"></div>
        <div class="color-description">
          <div class="color-name">pressed link</div>
          <div class="hex">#3a9ec3</div>
        </div>
      </div>
    </div>

    <div class="g">
      <div class="block rounded-color">
        <div class="rounded bg-violet"></div>
        <div class="color-description">
          <div class="color-name">visited link</div>
          <div class="hex">#7070ef</div>
        </div>
      </div>
    </div>
  </div>
</section>
