<section>

  <div class="block">
    <h2>Tables</h2>
  </div>

  <div class="block">
    <h3>Basic table</h3>
  </div>

  <div class="block">
    <table>
      <thead>
        <tr>
          <th width="5%">ID</th>
          <th width="5%"><span class="fa fa-star color__dark--grey icon"></span></th>
          <th width="25%">Name</th>
          <th width="50%">Description</th>
          <th class="text-right" width="15%">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <label for="checkbox11" class="checkbox-icon">
              <input type="checkbox" id="checkbox11" checked="checked">
              <div class="icons">
                <span class="fa fa-star color-dark--grey"></span>
                <span class="fa fa-star color-orange"></span>
              </div>
            </label>
          </td>
          <td class="ellipsis">
            <label class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, provident.
            </label>
          </td>
          <td class="ellipsis">
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore mollitia eveniet neque voluptatem, esse cum voluptas molestias est sit facilis nihil dolore quidem corrupti, voluptates perferendis amet rem commodi non.
            </p>
          </td>
          <td class="text-right">Today</td>
        </tr>
        <tr>
          <td>2</td>
          <td>
            <label for="checkbox12" class="checkbox-icon">
              <input type="checkbox" id="checkbox12" checked="checked">
              <div class="icons">
                <span class="fa fa-star color-dark--grey"></span>
                <span class="fa fa-star color-orange"></span>
              </div>
            </label>
          </td>
          <td>
            <label>
              Lorem ipsum dolor
            </label>
          </td>
          <td class="ellipsis">
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore mollitia eveniet neque voluptatem, esse cum voluptas molestias est sit facilis nihil dolore quidem corrupti, voluptates perferendis amet rem commodi non.
            </p>
          </td>
          <td class="text-right">Yesterday</td>
        </tr>
        <tr>
          <td>3</td>
          <td>
            <label for="checkbox13" class="checkbox-icon">
              <input type="checkbox" id="checkbox13">
              <div class="icons">
                <span class="fa fa-star color-dark--grey"></span>
                <span class="fa fa-star color-orange"></span>
              </div>
            </label>
          </td>
          <td>
            <label>
              Lorem ipsum dolor
            </label>
          </td>
          <td class="ellipsis">
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore mollitia eveniet neque voluptatem, esse cum voluptas molestias est sit facilis nihil dolore quidem corrupti, voluptates perferendis amet rem commodi non.
            </p>
          </td>
          <td class="text-right">27 feb.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>
            <label for="checkbox14" class="checkbox-icon">
              <input type="checkbox" id="checkbox14">
              <div class="icons">
                <span class="fa fa-star color-dark--grey"></span>
                <span class="fa fa-star color-orange"></span>
              </div>
            </label>
          </td>
          <td>
            <label>
              Lorem ipsum dolor
            </label>
          </td>
          <td class="ellipsis">
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore mollitia eveniet neque voluptatem, esse cum voluptas molestias est sit facilis nihil dolore quidem corrupti, voluptates perferendis amet rem commodi non.
            </p>
          </td>
          <td class="text-right">26 feb.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="block">
    <h3>Bordered table</h3>
  </div>

  <div class="block">
    <table class="table--bordered">
      <thead>
        <tr>
          <th width="5%">#</th>
          <th width="20%">Name</th>
          <th width="10%">Age</th>
          <th width="15%">Gender</th>
          <th width="25%">City</th>
          <th width="25%">Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><label>Daniel Rodriguez</label></td>
          <td>22</td>
          <td>Male</td>
          <td>Bucaramanga</td>
          <td>$ 1.200.000</td>
        </tr>
        <tr>
          <td>2</td>
          <td><label>Jorge Perez</label></td>
          <td>24</td>
          <td>Male</td>
          <td>Medellín</td>
          <td>$ 1.600.000</td>
        </tr>
        <tr>
          <td>3</td>
          <td><label>Juan Dominguez</label></td>
          <td>25</td>
          <td>Male</td>
          <td>Bogotá</td>
          <td>$ 2.000.000</td>
        </tr>
        <tr>
          <td>4</td>
          <td><label>Ana Betancourt</label></td>
          <td>19</td>
          <td>Female</td>
          <td>Medellín</td>
          <td>$ 780.000</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="block">
    <h3>Striped table</h3>
  </div>

  <div class="block">
    <table class="table--striped">
      <thead>
        <tr>
          <th width="5%">
            <label for="checkbox109" class="checkbox-group">
              <input type="checkbox" id="checkbox109">
              <span></span>
            </label>
          </th>
          <th width="20%">Name</th>
          <th width="10%">Age</th>
          <th width="15%">Gender</th>
          <th width="25%">City</th>
          <th width="25%">Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="checkbox110" class="checkbox-group">
              <input type="checkbox" checked="checked" id="checkbox110">
              <span></span>
            </label>
          </td>
          <td><label>Daniel Rodriguez</label></td>
          <td>22</td>
          <td>Male</td>
          <td>Bucaramanga</td>
          <td>$ 1.200.000</td>
        </tr>
        <tr>
          <td>
            <label for="checkbox120" class="checkbox-group">
              <input type="checkbox" checked="checked" id="checkbox120">
              <span></span>
            </label>
          </td>
          <td><label>Jorge Perez</label></td>
          <td>24</td>
          <td>Male</td>
          <td>Medellín</td>
          <td>$ 1.600.000</td>
        </tr>
        <tr>
          <td>
            <label for="checkbox130" class="checkbox-group">
              <input type="checkbox" id="checkbox130">
              <span></span>
            </label>
          </td>
          <td><label>Juan Dominguez</label></td>
          <td>25</td>
          <td>Male</td>
          <td>Bogotá</td>
          <td>$ 2.000.000</td>
        </tr>
        <tr>
          <td>
            <label for="checkbox140" class="checkbox-group">
              <input type="checkbox" id="checkbox140">
              <span></span>
            </label>
          </td>
          <td><label>Ana Betancourt</label></td>
          <td>19</td>
          <td>Female</td>
          <td>Medellín</td>
          <td>$ 780.000</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
