$widths__number-of-divisions-at-breakpoint: (
  n:   12,
  xs:  0,
  sm:  12,
  md:  12,
  lg:  12,
  xl:  12,
  xxl: 12
);

$widths__generate-all-100-percent-widths: true; // true or false
$widths__generate-common-denominator-widths: true; // true or false
$english-by-number: (
  1:  "one",
  2:  "two",
  3:  "three",
  4:  "four",
  5:  "five",
  6:  "six",
  7:  "seven",
  8:  "eight",
  9:  "nine",
  10: "ten",
  11: "eleven",
  12: "twelve"
);

$english-nth-by-number: (
  1:  "whole",
  2:  "half",
  3:  "third",
  4:  "fourth",
  5:  "fifth",
  6:  "sixth",
  7:  "seventh",
  8:  "eighth",
  9:  "ninth",
  10: "tenth",
  11: "eleventh",
  12: "twelfth"
);

@function gcd($a, $b) {
  @if ($b == 0) { @return $a; }
  @else {
    $remainder: $a%$b;
    @return gcd($b, $remainder);
  }
}

@mixin easy-to-read-width($numerator, $denominator, $breakpoint:"") {
  $breakpoint-prefix: ".";
  @if ($breakpoint != "n") {
    @if map-has-key($widths__number-of-divisions-at-breakpoint, $breakpoint) {
      $breakpoint-prefix: ".#{unquote($breakpoint)}-";
    }
  }

  $width-first-part: "#{map-get($english-by-number, $numerator)}-";
  $width-second-part: "#{map-get($english-nth-by-number, $denominator)}";
  @if ($numerator > 1) {
    $width-second-part: "#{$width-second-part}s";
  }
  @if ($width-second-part == "halfs") {
    $width-second-part: "halves";
  }

  @if ($widths__generate-all-100-percent-widths != true and $numerator/$denominator == 1 and $denominator > 1) {
    // We don't return the width in this situation
  }
  @elseif ($widths__generate-common-denominator-widths != true and gcd($numerator, $denominator) > 1) {
    // We don't return the width in this situation
  }
  @else {
    #{$breakpoint-prefix}#{$width-first-part}#{$width-second-part} { width: ($numerator/$denominator)*100%; }
  }
}

// Loop through all breakpoints in $widths__number-of-divisions-at-breakpoint
@each $breakpoint, $num-divisions in $widths__number-of-divisions-at-breakpoint {
  @if ($num-divisions > 0) {
    @if ($breakpoint != "n") {
      @include bp-at-least ( map-get($breakpoints, $breakpoint) ) {
        @for $i from 1 through $num-divisions {
          @for $j from 1 through $i {
            @include easy-to-read-width($j, $i, $breakpoint);
          }
        }
      }
    }
    @else {
      @for $i from 1 through $num-divisions {
        @for $j from 1 through $i {
          @include easy-to-read-width($j, $i, $breakpoint);
        }
      }
    }
  }
}
