<div class="nav-container block">
  <nav class="page-content-navbar">
    <div class="search-box">
      <input id="search" type="text" placeholder="Search">
      <label for="search" class="search-icon">
        <i class="fa fa-search"></i>
      </label>
    </div>

    <div class="nav-items">
      <a href="#" class="nav-item">Accounting</a>
      <a href="#" class="nav-item">
        Activity
        <span class="counter">2</span>
      </a>
      <a href="#" class="nav-item">Teams</a>
    </div>

    <div class="profile-sidebar">
      <a href="#">
        <h4>Lozano</h4>
        <div class="rounded-pic" [ngStyle]="{ backgroundImage: 'url(' + url + ')' }"></div>
        <span class="bottom-icon">
          <i class="fa fa-angle-down"></i>
        </span>
      </a>
    </div>
  </nav>
</div>
