.bg-light--green {
  background-color: $color__light--green;
}

.bg-green {
  background-color: $color__green;
}

.bg-dark--green {
  background-color: $color__dark--green;
}

.bg-light--blue {
  background-color: $color__light--blue;
}

.bg-blue {
  background-color: $color__blue;
}

.bg-dark--blue {
  background-color: $color__dark--blue;
}

.bg-light--red {
  background-color: $color__light--red;
}

.bg-red {
  background-color: $color__red;
}

.bg-dark--red {
  background-color: $color__dark--red;
}

.bg-light--orange {
  background-color: $color__light--orange;
}

.bg-orange {
  background-color: $color__orange;
}

.bg-dark--orange {
  background-color: $color__dark--orange;
}

.bg-light--violet {
  background-color: $color__light--violet;
}

.bg-violet {
  background-color: $color__violet;
}

.bg-dark--violet {
  background-color: $color__dark--violet;
}

.bg-light--black {
  background-color: $color__light--black;
}

.bg-black {
  background-color: $color__black;
}

.bg-dark--black {
  background-color: $color__dark--black;
}

.bg-light--grey {
  background-color: $color__light--grey;
}

.bg-grey {
  background-color: $color__grey;
}

.bg-dark--grey {
  background-color: $color__dark--grey;
}

.bg-text {
  background-color: $color__text;
}
