.bg-light--green {
  background-color: $color__light--green !important;
}

.bg-green {
  background-color: $color__green !important;
}

.bg-dark--green {
  background-color: $color__dark--green !important;
}

.bg-light--blue {
  background-color: $color__light--blue !important;
}

.bg-blue {
  background-color: $color__blue !important;
}

.bg-dark--blue {
  background-color: $color__dark--blue !important;
}

.bg-light--red {
  background-color: $color__light--red !important;
}

.bg-red {
  background-color: $color__red !important;
}

.bg-dark--red {
  background-color: $color__dark--red !important;
}

.bg-light--orange {
  background-color: $color__light--orange !important;
}

.bg-orange {
  background-color: $color__orange !important;
}

.bg-dark--orange {
  background-color: $color__dark--orange !important;
}

.bg-light--violet {
  background-color: $color__light--violet !important;
}

.bg-violet {
  background-color: $color__violet !important;
}

.bg-dark--violet {
  background-color: $color__dark--violet !important;
}

.bg-light--black {
  background-color: $color__light--black !important;
}

.bg-black {
  background-color: $color__black !important;
}

.bg-dark--black {
  background-color: $color__dark--black !important;
}

.bg-light--grey {
  background-color: $color__light--grey !important;
}

.bg-grey {
  background-color: $color__grey !important;
}

.bg-dark--grey {
  background-color: $color__dark--grey !important;
}

.bg-text {
  background-color: $color__text !important;
}

.color-light--green {
  color: $color__light--green !important;
}

.color-green {
  color: $color__green !important;
}

.color-dark--green {
  color: $color__dark--green !important;
}

.color-light--blue {
  color: $color__light--blue !important;
}

.color-blue {
  color: $color__blue !important;
}

.color-dark--blue {
  color: $color__dark--blue !important;
}

.color-light--red {
  color: $color__light--red !important;
}

.color-red {
  color: $color__red !important;
}

.color-dark--red {
  color: $color__dark--red !important;
}

.color-light--orange {
  color: $color__light--orange !important;
}

.color-orange {
  color: $color__orange !important;
}

.color-dark--orange {
  color: $color__dark--orange !important;
}

.color-light--violet {
  color: $color__light--violet !important;
}

.color-violet {
  color: $color__violet !important;
}

.color-dark--violet {
  color: $color__dark--violet !important;
}

.color-light--black {
  color: $color__light--black !important;
}

.color-black {
  color: $color__black !important;
}

.color-dark--black {
  color: $color__dark--black !important;
}

.color-light--grey {
  color: $color__light--grey !important;
}

.color-grey {
  color: $color__grey !important;
}

.color-dark--grey {
  color: $color__dark--grey !important;
}

.color-text {
  color: $color__text !important;
}

.color-white {
  color: $color__white !important;
}

.color-offwhite {
  color: $color__offwhite !important;
}
