.alert {
  position: relative;
  padding: $unit;
  line-height: 1.25;
  border-radius: 4px;

  header {
    font-size: 1.4em;
    margin-bottom: .5em;
  }

  p {
    margin: 0;
  }

  .btn__close {
    cursor: pointer;
    float: right;
    opacity: .5;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }
}

// Error alert
.alert--error {
  background: $color__red;
  color: $color__white;

  &.weak {
    color: #e04646;
    border-color: #e04646;
    background: #ffe6e6;

    .btn__close {
      color: #e04646;
    }

    &:after {
      border-color: #e04646;
    }
  }
}



// Warning alert
.alert--warning {
  background: $color__orange;
  color: $color__white;

  &.weak {
    color: #b29804;
    border-color: #b29804;
    background: #fcf7d8;

    .btn__close {
      color: #b29804;
    }

    &:after {
      border-color: #b29804;
    }
  }
}



// Info alert
.alert--info {
  background: $color__blue;
  color: $color__white;

  &.weak {
    color: #537df6;
    border-color: #537df6;
    background: #e8f3ff;

    .btn__close {
      color: #537df6;
    }

    &:after {
      border-color: #537df6;
    }
  }
}

// Success alert
.alert--success {
  background: $color__green;
  color: $color__white;

  &.weak {
    color: #0ca129;
    border-color: #0ca129;
    background: #dafce1;

    .btn__close {
      color: #0ca129;
    }

    &:after {
      border-color: #0ca129;
    }
  }
}
