.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 2*$unit;
}

.hero__media {
  position: relative;
  z-index: 200;
  &.hero__media--basic {
    min-height: 50vh;
  }

  &.hero__media--entire {
    min-height: 100vh;
  }
}

.hero__main {
  position: absolute;
  z-index: 210;
  width: 100%;
  top: 50%;
  text-align: center;
  color: $color__white;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: .75em;

  .hero__name {
    font-weight: lighter;
  }

  @include bp-at-least($breakpoint__sm) {
    font-size: 1em;
  }
  @include bp-at-least($breakpoint__lg) {
    font-size: 1.25em;
  }
}
